# Virtual Environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
logs/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Database files
*.db
*.sqlite
*.sqlite3 
*.sql
*.7z

data/
ideas-lab/window-selector/image-stack/
image-stack/
app/renpy-source-api/*.json
app/renpy-source-api/demo_flow_visualization/*.html
app/renpy-source-api/demo_flow_visualization/*.png
app/renpy-source-api/savior_flow_complete/*.html
app/renpy-source-api/savior_flow_complete/*.png
app/renpy-source-api/savior_flow_visualization/*.png
